@tailwind base;
@tailwind components;
@tailwind utilities;

.button-margin {
  margin:4px;
}

.center-site {
  margin: auto;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 700px) {
  .center-site {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
}

.center {
  margin: auto;
  padding: 10px;
}

.card-margin {
  margin:16px;
}